<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Edit option page</title>
    <link rel="icon" type="image/x-icon" href="/img/vote.png">
    <style>
        body{
            background-size: cover;
        }
        .u{
            text-decoration: underline;
        }
        #round{
            border-radius: 50px;
        }
        .one{
        display: flex;
        flex-direction: row;
      }
      .two{
        display: flex;
        flex-direction: row;
      }
    </style>
    <script>            
        //function for updating the option
        var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
        function updateOption() {
            let electionID = <%= electionID %>;
            let questionID = <%= questionID %>;
            let optionID = <%= optionID %>;
            let option = document.getElementById("option").value;
            fetch(`/options/${optionID}/edit`, {
                method: "put",
                headers: {"Content-Type":"application/json"},
                body: JSON.stringify({
                    "_csrf":token,
                    "option":option,
                })
            }).then((res1)=>{
                if (res1.ok) {
                    window.location.replace(`/elections/${electionID}/questions/${questionID}`);
                }
            }).catch((err1)=> console.error(err1))
        }
    </script>
        
</head>
<body class="bg-gray-60" background="img/img2.jpg">
    <div class="relative flex min-h-screen text-gray-9000 antialiased flex-col justify-center overflow-hidden bg-yellow-200 py-6 sm:py-14">
        <div class="relative py-4 sm:w-97 text-center">
            <!-- update question -->
            <span class="text-3xl font-light font-serif hover:text-indigo-900 text-black u">Update this Option</span>
            <div>
                <% if (messages && messages.error && messages.error.length > 0) { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <p class="bg-white my- list-none rounded-md px-8 py-3 font-serif"><%= messages.error[i] %></p>
                    <% } %>
                <% } %>
            </div>
            <!-- option and updateOption -->
            <div class="mt-6 rounded-lg text-left">
                <!-- <div class="h-3 bg-green-400 rounded-t-md"></div> -->
                <div class="px-8 py-8">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <label for="option" class="block mt-3 font-semibold font-serif text-black">Options</label>
                    <input value="<%= option %>" id="option" name="option" type="text" placeholder="Option" class="border w-full h-5 px-3 py-5 mt-2 rounded-md" required>
                    <button id="round" class="mt-6 w-full bg-cyan-500 text-white py-2 px-6 rounded-md hover:bg-cyan-600 font-serif hover:text-indigo-900" onclick="updateOption() ">Update option</button>
                </div>
            </div>
            <!-- <div class="h-3 bg-green-400 rounded-t-md"></div> -->
        </div>
    </div>
</body>
</html>