<!DOCTYPE html>
<!-- this is the new voter page -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
    <style>
        body{
          background-size:cover;
        }
        #round{
            border-radius: 50px;
        }
        .one{
            display: flex;
            flex-direction: row;
        }
        .two{
            display: flex;
            flex-direction: row;
        }
        .six{
            background-color: rgb(106, 104, 104);
            border: 2px solid aqua;
        }
        .seven{
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }
      </style>
    <link rel="icon" type="image/x-icon" href="/img/vote.png">
</head>
<body class="bg-gray-50" background="img/img4.jpg">
    <%- include('header.ejs') %>
    <div class="flex gap-1 mt-6 bg-green-200">
        <span>--></span>
        <a href="/elections" class="text-cyan-800 hover:text-cyan-600 font-serif">All Elections</a>
        <span>--></span>
        <a href="/elections/<%= electionID %>/" class="text-cyan-800 hover:text-cyan-600 font-serif">Election</a>
        <span>--></span>
        <a href="/elections/<%= electionID %>/voters" class="text-cyan-800 hover:text-cyan-600 font-serif">Voters</a>
    </div>
    <div class="seven text-gray-800 antialiased bg-yellow-200 py-6 sm:py-12">
        <div class=" py-3 sm:w-96 text-center">
            <span class="text-2xl font-light font-serif text-red-400"><%= title %></span>
            <div>
                <% if (messages && messages.error && messages.error.length > 0) { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <p class="bg-white my-3 list-none rounded-md px-4 py-2 font-serif"><%= messages.error[i] %></p>
                    <% } %>
                <% } %>
            </div>
            <!-- form for adding new voter -->
            <div class="mt-5 rounded-lg text-left">
            </div>
            <div class="flex-none">
                <a type="submit" href="/elections/<%= electionID %>" class="bg-cyan-600 text-white px-5 py-1.5 rounded mr-2 mb-2 hover:text-indigo-900">	&lt; -- Go Back</a>
            </div>
        </div>
    </div>
</body>
</html>
