<!DOCTYPE html>
<html lang="en">
<head>
    <!-- this is the new question page -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>New Question</title>
    <link rel="icon" type="image/x-icon" href="/img/vote.png">
    <style>
        body{
          background-size:cover;
        }
        #round{
            border-radius: 50px;
        }
        .one{
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            overflow: hidden;
        }
        .two{
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            overflow: hidden;
        }
        .six{
            background-color: rgb(106, 104, 104);
            border: 2px solid aqua;
        }
        .seven{
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }
      </style>
</head>
<body class="bg-gray-50" background="img/image.jpg">
    <!-- this is the new question page -->
    <%- include('header.ejs') %>
    <div class="flex gap-1 mx-10 mt-6 bg-green-200">
        <span>--></span>
        <a href="/elections" class="text-cyan-800 hover:text-cyan-600 font-serif">All Elections</a>
        <span>--></span>
        <a href="/elections/<%= id %>/" class="text-cyan-800 hover:text-cyan-600 font-serif">Election</a>
        <span>--></span>
        <a href="/elections/<%= id %>/questions" class="text-cyan-800 hover:text-cyan-600 font-serif">Questions</a>
    </div>
    <div class="text-gray-800 antialiased bg-yellow-200 py-6 sm:py-12">
        <div class=" py-3 sm:w-96  text-center">
            <div>
                <% if (messages && messages.error && messages.error.length > 0) { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <p class="bg-white my-5 list-none rounded-md px-4 py-2 font-serif"><%= messages.error[i] %></p>
                    <% } %>
                <% } %>
            </div>
            <!-- this is the new question page -->
            <div class="mt-4 shadow-md rounded-lg text-left">
            </div>
        </div>
        <!-- this is the new question page -->
        <!-- this is the new question page -->
        <div class="flex-none">
            <a type="submit" href="/elections/<%= id %>/questions" class="bg-cyan-600 text-white px-5 py-1.5 rounded mr-2 mb-2 hover:text-indigo-900">	&lt; -- Go Back</a>
        </div>
    </div>
</body>
</html>