<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.1.2/dist/chart.umd.min.js"></script>
    <style type="text/css">
             .chartBox{
                width: 500px;
             }
    </style>
    <title>Results</title>
</head>
<body style="background-color: burlywood;">
    <h1 class="py-3 text-2xl">
        <center>
        <b>
           <%=title%> Results
        </b>
    </center>
    </h1>
    <div class="flex flex-col justify-center items-center p-9">
        <div class="flex flex-col justify-center md:w-2/5 w-full">
            <div class="pt-8">
    <center>
     <div class="chartBox">
    
     <canvas id="chart"></canvas>
    </div>
</center>
        </div>
        </div>
    </div>
     <div>
     <script>
        const ctx = document.getElementById('chart');
        new Chart(ctx, {
                type: 'bar',
                    data: {
                    labels: ['one','two','three','four','five'],
                        datasets: [{
                            label: '# of Votes',
                            data: [12, 19, 3, 5, 2,],
                            backgroundColor: ['rgba(255,99,132,3)'],
                            borderWidth: 1,
                            fill:false,
                            borderColor:('black')
                             }]
                            },
                options: {
                scales: {
                y: {
                  beginAtZero: true
                }

            }
            }
    });
     </script>
     <!-- </div>
            <div class="flex flex-col gap-6">
                <span class="text-5xl font-light ">result</span>
                <span class="text-5xl font-light "><%= numberofoptions %></span>
                <ol class="list-decimal mb-5">
                    <% for(let i=0; i<questionslist.length; i++) { %>
                        <li class="my-2">
                            <div class="px-2 py-1">
                                xlabels.push(<%= questionslist[i].questionname %>)
                                <p class="text-purple-800 text-md my-2"><%= questionslist[i].description %></p>
                            </div>
                            <div class="ml-8">
                                <ol class="list-none">
                                    <% for(let j=0; j< valueoptions[i].length; j++) { %>
                                            <li class="option-item mt-2">
                                                <label class="px-1 my-2" class="ml-2 text-lg "><%= valueoptions[i][j].optionname %></label>
                                                <label class="px-1 my-2"  class="ml-2 text-lg "><%= numberofoptions[i][j] %></label>
                                            </li>
                                    <% } %>
                                </ol>
                            </div>
                        </li>
                    <% } %>
                </ol>
            </div>
            <div> -->
            </div>
        </body>
</html>