<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
        function deleteVoterHere({electionID, voterID}) {
            fetch(`/elections/${electionID}/voters/${voterID}`, {
                method: "delete",
                headers: {"Content-Type":"application/json"},
                body: JSON.stringify({
                    "_csrf":token
                })
            }).then((ress)=>{
                if (ress.ok) {
                    window.location.reload();
                }
            }).catch((err1)=> console.error(err1))
        }
    </script>
    <title><%= title %></title>
    <style>
        body{
          background-size:cover;
        }
      </style>
    <link rel="icon" type="image/x-icon" href="/img/vote.png">
</head>
<body background="img/img.jpg">
    <%- include('header.ejs') %>
    <div class="flex gap-1 mx-10 mt-6 bg-green-200">
        <span>--></span>
        <a href="/elections" class="text-cyan-800 hover:text-cyan-600">All Elections</a>
        <span>--></span>
        <a href="/elections/<%= id %>/" class="text-cyan-800 hover:text-cyan-600">Election</a>
    </div>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <div class="my-6 mx-10">
        <div class="flex gap-2 py-4 justify-between">
            <h5 class="text-2xl font-serif"><%= title %> - Voters are : </h5>
        </div>
        <div class="flex-auto bg-yellow-200">
            <div class="mx-4">  
                <!-- crud operations for voter -->
                <p class="text-green-500 font-serif"><%= (voters.length==0)?"You haven't added any voters yet!":"" %></p>
                <ol class="list-decimal">
                    <% for (let i=0; i<voters.length; i++) { %>
                        <li>
                            <div class="flex flex-col justify-between w-full my-2 px-2 py-1 rounded hover:bg-green-100 font-serif">
                                <p class="my-2 text-lg text-cyan-600 font-serif"><%= voters[i].voterid %></p>
                                <div class="flex gap-2 text-cyan-800">
                                    <div class="rounded w-fit px-2 py-1 flex gap-2 cursor-pointer hover:text-cyan-600">                                     
                                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z"/></svg>
                                        <a onclick="deleteVoterHere({electionID: <%= id %>, voterID: <%= voters[i].id %>})" class="text-sm hover:text-indigo-900">>Delete voter</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    <% } %>
                </ol>
            </div>
        </div>
        <h2 class="font-semibold font-serif text-black">Add Voters</h2>
        <form action="/elections/<%= electionID %>/voters/create" method="post" class="px-8 py-6 bg-yellow-200">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <label for="voterid" class="mt-5 font-semibold font-serif text-black">Voter ID : </label>
            <input id="voterid" name="voterid" type="voterid" placeholder="Voter ID" class="six border w-full h-5 px-5 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md" required>
            <label for="password" class="block mt-5 font-semibold font-serif text-black">Password : </label>
            <input id="password" name="password" type="password" placeholder="Password" class="six border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md font-serif" required>
            <button type="submit" id="round" class="mt-6 w-full bg-cyan-500 text-white py-2 px-6 rounded-md hover:bg-cyan-600 font-serif hover:text-indigo-900">Add voter</button>
            <a href="/elections/<%= id %>" type="submit" id="round" class="mt-6 text-center w-full bg-cyan-500 text-white py-2 px-6 rounded-md hover:bg-cyan-600 font-serif hover:text-indigo-900">&lt;-- Go Back</a>
        </form>
    </div>
</body>
</html>